<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dondecompro.frsf.utn.dondecomproapp">

    <!-- Permisos -->
    <!-- INTERNET -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- CAMARA -->
    <uses-feature android:name="android.hardware.camera" />
    <!-- CAMARA -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Sensores -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- Fin Permisos -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />


        <service
            android:name=".Servicios.MyFirebaseAplicationService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Servicios.MyFirebaseInstanceIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>


        <activity android:name=".InicioSplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            Lo comento porque al tener dos Launcher instala dos ejecutables en el dispositivo
            <!-<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".ProductosActivity" />
        <activity android:name=".ProductosToPedido" />
        <activity android:name=".GestionPedidoActivity" />
        <activity android:name=".NuevoPedidoActivity" />
        <activity android:name=".UbicacionSupersActivity" />
        <activity android:name=".NuevoProductoActivity" />
        <activity android:name=".ListarPedidosActivity" />
        <activity android:name=".CapturadorBarcodeActivity" />
        <activity android:name=".ListarProductosDePedido" />
        <activity android:name=".SugerenciaSuperActivity" />

    </application>

</manifest>